:root{
    --fundo: #6A5ACD;
    --cartao-frente: hsl(248, 82%, 81%);
    --cartao-verso: #242424;
    --destaque: #ff0000;
    --preto: #000000;
    --branco: #ffffff;
   }
   body{
       background-color: var(--fundo);
   
   }
   footer{
       position: fixed;
       bottom: 0;
       background-color: #393535;
       color: var(--branco);
       width: 100%;
       text-align: center;
   }

   #container{
    display:flex;
    flex-wrap: wrap;
    padding: 3rem;
    gap: 3rem;
    justify-content: space-between;
   }

.cartao{
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
    height: 20rem;
    margin: 1rem;
}