:root{
    --fundo: #6A5ACD;
    --cartao-frente: hsl(248, 82%, 81%);
    --cartao-verso: #242424;
    --destaque: rgb(222, 143, 69);
    --preto: #e60202;
    --branco: #f1bcbc;
   }
   body{
       background-color: var(--fundo);
   
   }
   footer{
       position: fixed;
       bottom: 0;
       background-color: var(--preto);
       color: var(--branco);
       width: 100%;
       text-align: center;
   }