:root{
    --fundo:#48D1CC;
    --cartao-frente:#008B8B;
    --cartao-verso:#5F9EA0;
    --destaque:#7B68EE;
    --preto:#000000;
    --branco:#F8F8FF;
}
body{
    background-color: var(--fundo);
}
footer{
    position: fixed;
    bottom:0;
    background-color: var(--preto);
    width: 100%;
    text-align: center;
}